
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Enter a Twitter username below</div>
        <div class="panel-body">
        <form id="twitter-input-form" data-bind="submit: retrieveTweets" preset-twitter-handle = <%= @twitter_handle %> >
          <input data-bind="value: twitterHandle" />
          <button type="submit">Go</button>
        </form>
        </div>
      </div>

      <a href="#" id="next-tweets" data-bind="click: nextTweets">Next</a>
    </div>

    <div class="col-md-8">
      <div class="spinner" data-bind="visible: retrievingTweets"></div>
      <div class="tweet-container" data-bind="foreach: tweets">
        <div class="tweet col-md-6">
          <div>
            <p data-bind="html: text"></p>
          </div>
        </div>
      </div>
  </div>

<%= javascript_include_tag 'URI.js' %>
<%= javascript_include_tag 'view_tweet.js' %>
