
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Enter a Twitter username below</div>
        <div class="panel-body">
        <form data-bind="submit: retrieveTweets">
          <input data-bind="value: twitterHandle" />
          <button type="submit">Go</button>
        </form>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="spinner" data-bind="visible: retrievingTweets"></div>
      <div class="tweet-container" data-bind="foreach: tweets">
        <div class="tweet col-md-6">
          <div>
            <p data-bind="html: text"></p>
          </div>
        </div>
      </div>
  </div>

<script src="http://dl.dropboxusercontent.com/u/67252270/d3-cloud/d3.min.js"></script>
<script src="http://dl.dropboxusercontent.com/u/67252270/d3-cloud/d3.layout.cloud.js"></script>
<%= javascript_include_tag 'URI.js' %>
<%= javascript_include_tag 'view_tweet.js' %>
