---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic RTdSYTF3RTFVaWRQZGQ5WEx0bkVMUVhiUjp4QnhzRzlEZGUya3Q0cGZydFZGSm90U1ZRSTNaVlQ2bEdndkVSWHlMM1hUWm1SdWRSRA==
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Thu, 02 Feb 2017 07:10:35 GMT
      ml:
      - S
      status:
      - 200 OK
      x-connection-hash:
      - 3c8a45a7ea45fe79eb54e44948558f02
      x-response-time:
      - '22'
      x-transaction:
      - 00c20733005fea4a
      x-tsa-request-body-time:
      - '0'
      x-twitter-response-tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAADoQzAAAAAAAXkFTuVMfBswH7Whhy3RkMOZYpKo%3D5FPzFVi9XuvTmKCQu36UDUrfH0odLgwYmTYv9rpxbGY1O7U9Ws"}'
  recorded_at: Thu, 02 Feb 2017 07:10:36 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=25&screen_name=dhh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAADoQzAAAAAAAXkFTuVMfBswH7Whhy3RkMOZYpKo%3D5FPzFVi9XuvTmKCQu36UDUrfH0odLgwYmTYv9rpxbGY1O7U9Ws
  response:
    status:
      code: 200
      message: 
    headers:
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Thu, 02 Feb 2017 07:10:36 GMT
      status:
      - 200 OK
      x-access-level:
      - read
      x-connection-hash:
      - 71e164f78a34b3824c673a17ff07eef1
      x-rate-limit-limit:
      - '1500'
      x-rate-limit-remaining:
      - '1497'
      x-rate-limit-reset:
      - '1486019992'
      x-response-time:
      - '72'
      x-transaction:
      - 0017a636003f5c93
      x-twitter-response-tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Feb 01 21:02:13 +0000 2017","id":826898473953943553,"id_str":"826898473953943553","text":"RT
        @rjs: Took another crack at this piece on foggy thinking in design. What do
        \"easy\" or \"unclear\" mean anyway? https:\/\/t.co\/Q9oNOKgi5a","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"rjs","name":"Ryan
        Singer","id":10079052,"id_str":"10079052","indices":[3,7]}],"urls":[{"url":"https:\/\/t.co\/Q9oNOKgi5a","expanded_url":"https:\/\/m.signalvnoise.com\/designer-bs-5ebadc32f628#.lkx7976x3","display_url":"m.signalvnoise.com\/designer-bs-5e\u2026","indices":[112,135]}]},"source":"\u003ca
        href=\"http:\/\/www.echofon.com\/\" rel=\"nofollow\"\u003eEchofon\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14561327,"id_str":"14561327","name":"DHH","screen_name":"dhh","location":"Chicago,
        USA","description":"Creator of Ruby on Rails, Founder & CTO at Basecamp (formerly
        37signals), NYT Best-selling author of REWORK and REMOTE, and Le Mans class-winning
        racing driver.","url":"http:\/\/t.co\/IaAsahpjsQ","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/IaAsahpjsQ","expanded_url":"http:\/\/david.heinemeierhansson.com","display_url":"david.heinemeierhansson.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":215795,"friends_count":125,"listed_count":8637,"created_at":"Sun
        Apr 27 20:19:25 +0000 2008","favourites_count":1236,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":33077,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2556368541\/alng5gtlmjhrdlr3qxqv_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2556368541\/alng5gtlmjhrdlr3qxqv_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14561327\/1398347760","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Feb 01 20:52:51 +0000 2017","id":826896116436365315,"id_str":"826896116436365315","text":"Took
        another crack at this piece on foggy thinking in design. What do \"easy\"
        or \"unclear\" mean anyway? https:\/\/t.co\/Q9oNOKgi5a","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/Q9oNOKgi5a","expanded_url":"https:\/\/m.signalvnoise.com\/designer-bs-5ebadc32f628#.lkx7976x3","display_url":"m.signalvnoise[...]
